@model BanHang.Models.Contact

@{
    ViewBag.Title = "Details";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Categories" class="nav-link">Quản lý liên hệ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi Tiết liên hệ</a>
        </li>
    </ul>
}
<div class="card">
    <div class="card-header" style="text-align:center">
        <h3 class="card-title" style="font-size:30px">Chi Tiết Liên Hệ</h3>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 style="margin-bottom: 20px;" class="card-title">Chi tiết tin tức</h4>
        <hr style="margin-top: 20px;" />
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 20%">Tên Khách Hàng</th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <th>Tin Nhắn</th>
                        <td>@Html.DisplayFor(model => model.Message)</td>
                    </tr>
                    <tr>
                        <th>Người tạo</th>
                        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                    </tr>
                    <tr>
                        <th>Ngày tạo</th>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <th>Người sửa đổi</th>
                        <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
                    </tr>
                    <tr>
                        <th>Ngày sửa đổi</th>
                        <td>@Html.DisplayFor(model => model.ModifiedDate)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDContact }, new { @class = "btn btn-primary" })
    |
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info" })

</p>

